<!-- source/flats/show.html.erb -->

<!-- Access data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="show text-center">
  <h1><%= flat.description %></h1>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
  <p><%= flat.name %></p>
  <p><%= flat.city_name %></p>
</div>
